.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
}

.login_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  object-fit: contain;
}

.login_container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.login_container > form > h5 {
  margin-bottom: 5px;
}

.login_container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  padding-left: 5px;
}

.login_container > p {
  margin-top: 20px;
  font-size: 12px;
}

.login_signInButton {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #abb734 #9c7e31 #845a29;
}

.login_registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
}
